PORT=8089
SITE_ROOT=/var/www/kawthar-fixed
PUBLIC_SITE_URL=https://your-domain.com

PAYMOB_BASE_URL=https://accept.paymob.com
PAYMOB_SECRET_KEY=egy_sk_live_xxxxxxxxxxxxxxxxxxxxxxxxx
PAYMOB_PUBLIC_KEY=egy_pk_live_xxxxxxxxxxxxxxxxxxxxxxxxx
PAYMOB_PAYMENT_METHODS=123456,789101
